@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700;900&family=Roboto+Condensed:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,400;1,600;1,700;1,900&display=swap");

body {
  font-family: "Inter", Arial, sans-serif;
}

.inputLabel {
  font-size: 0.88rem;
  font-weight: bold;
  text-transform: capitalize;
}

.inputLabelExtraSmall {
  margin-top: 10px;
  min-width: 35px;
}

.inputLabelSmall {
  margin-top: 10px;
  min-width: 55px;
}

.inputField {
  height: 30px;
  border: none;
  border-bottom: 1px solid #333;
  width: 100%;
  background: none;
  font-weight: 600;
}
.inputField:focus-visible {
  outline: none;
  border-bottom: 2px solid #333;
}
